{% extends 'base.html' %}
{% block main %}
{% now "y-m-d" as today %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h2>{{ course.title }}</h2>
      <p>Instructor: {{ course.instructor.username }}</p>
    </div>
    <div class="card-body">
      {% if course.image %}
      <img src="{{ course.image.url }}" class="img-fluid mb-3" alt="{{ course.title }}">
      {% endif %}

      <h4>Description</h4>
      <p>{{ course.description }}</p>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Category:</strong> {{ course.category }}</p>
          <p><strong>Price:</strong> ₹{{ course.price }}</p> {# Changed to Rupees #}
        </div>
        <div class="col-md-6">
          <p><strong>Starts:</strong> {{ course.start_date }}</p>
          <p><strong>Ends:</strong> {{ course.end_date }}</p>
        </div>
      </div>

      {% if user.is_authenticated and user.user_type == 'S' %}
        {% if enrollment_status == 'accepted' %}
        <a href="{% url 'module_content' course.id %}" class="btn btn-success">View Course Content</a>
        {% elif enrollment_status == 'pending' %}
        <button class="btn btn-warning">Enrollment Pending</button>
        {% elif enrollment_status == 'rejected' %}
        <a href="{% url 'enroll_course' course.id %}" class="btn btn-primary">Rejected, Apply Later</a>
        {% elif course.end_date < today %}
        <a href="{% url 'course_list'%}" class="btn btn-primary">This Course has Ended</a>
        {% else %}
        <a href="{% url 'enroll_course' course.id %}" class="btn btn-primary">Enroll Now</a>
        {% endif %}
 

        {% if is_saved %}
        <a href="{% url 'toggle_save_course' course.id %}" class="btn btn-warning">Unsave</a>
        {% else %}
        <a href="{% url 'toggle_save_course' course.id %}" class="btn btn-secondary">Save Course</a>
        {% endif %}
        
        {% elif user.is_authenticated and user.user_type == 'I' %}
        <a href="{% url 'module_content' course.id %}" class="btn btn-success">Check Modules</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login to Enroll</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}